{% extends 'user/base.html' %}
{% load static %}
{% block title %}
    Image detail
{% endblock title %}
{% block link %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/newcustom.css' %}">
{% endblock link %}
{% block body %}
    {{block.super}}
    <div class="modal fade" id="copyLink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <p id="txt"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary copy-btn">Copy</button>
      </div>
    </div>
  </div>
</div>
    <div class="container">
        <div class="row mt-3 shadow-lg rounded">
            <div class="col-sm-7 p-2">
                <img width=700px height=700px src="{{ one_data.image_path.url }}">
            </div>
            <div class="col-sm-5 p-2">
                <div class="mb-4">
                    <a class="btn btn-primary" href="{% url 'home' %}">Back</a>
                    <button onclick="download()" class="btn btn-primary">Download</button>
                    {% if save_user_data %}
                    <input type="submit" class="btn btn-primary" id="id_saved" value="Saved" disabled>
                    {% else %}
                        <form action="{% url 'image-detail' one_data.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            {% for form in forms.hidden_fields %}
                                {{form}}
                            {% endfor %}
                            <input type="submit" onclick="change()" class="btn btn-primary" id="id_save" value="Save">
                        </form>
                    {% endif %}
                    <button type="button" class="btn btn-primary share-btn" data-bs-toggle="modal" data-bs-target="#copyLink">Share</button>
                </div>
                <p>Image category : {{one_data.topic}}</p>
                <p>Uploaded by : {{one_data.user}}</p>
                <p>Upload date : {{one_data.image_upload_date}}</p>
                <div class="row">
                    <div class="col-md-1 gx-1">
                        <img class="rounded-circle" src="{{one_data.user.profile_image.url}}" height="50px" width="50px">
                    </div>
                    <div class="col-md-5">
                        <h5>{{one_data.user}}</h5>
                        <h6 id="followers">{{follower_data}} followers</h6>
                    </div>
                    <div class="col-md-3 follow-div m-auto">
                        {% if one_data.user.id != request.user.id  %}
                            <form>
                                {% csrf_token %}
                                <input type="hidden" value="{{request.user.id}}" id="user_id">
                                <input type="hidden" value="{{one_data.user.id}}" id="id_follow_user">
                                {% if not validate_follow_btn.exists %}
                                    <input type="button" class="btn btn-primary p-2 btn-follow" value="Follow">
                                {% else %}
                                    <input type="button" class="btn btn-primary p-2 btn-unfollow" value="Unfollow">
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
                <h3>Description</h3>
                <p>{{one_data.description}}</p>
            </div>
        </div>
    </div>
    <h4 class="text-center m-3 text-bold">More like this</h4>
    <div class="grid m-3" data-masonry='{ "itemSelector": ".grid-item", "isFitWidth": true,"gutter":15}'>
      {% for u_image in all_data %}
      <div class="grid-item grid-item--height2 shadow-lg">
          <a href="{% url 'image-detail' u_image.id %}"><img src="{{u_image.image_path.url}}" class="img-one img-zero"></a>
        </div>
      {% endfor %}
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function download(){
        axios({
        url: '{{one_data.image_path.url}}',
        method: 'GET',
        responseType: 'blob',
    }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'image.jpg');
        document.body.appendChild(link);
        link.click();
    });
};
</script>
<script src="{% static 'image_post/js/ajax.js' %}"></script>
<script src="{% static 'image_post/js/custom.js' %}"></script>
{% endblock body %}