{% extends 'user/sidebar.html' %}
{% load static %}
{% load cloudinary %}
{% block title %}
    save image
{% endblock title %}
{% block link %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/newcustom.css' %}">
{% endblock link %}
{% block div %}
    <h4 class="text-center m-3 text-bold">Saved Images</h4>
    {% if save_img_data.exists %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 m-auto">
                    <form>
                        {% csrf_token %}
                        <input type="button" data-sid="{{ request.user.id}}"  class="btn btn-danger mt-3 btn-all-del" value="Delete all images">
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h3 class="alert alert-success text-center text-bg-danger p-1 m-3">No data available</h3>
    {% endif %}
    <div class="grid m-3" data-masonry='{ "itemSelector": ".grid-item", "isFitWidth": true,"gutter":20}'>
        {% for u_image in save_img_data %}
            <div class="grid-item grid-item--height2">
                <a href="{% url 'image-detail' u_image.image_path.id %}"><img src="{{u_image.image_path.image_path.url}}" class="img-one img-zero"></a>
                     <form class="d-inline">
                        {% csrf_token %}
                        <input type="button" data-sid="{{ u_image.image_path.id}}"  class="btn btn-danger mt-3 btn-del" value="Delete">
                    </form>
            </div>
        {% endfor %}
    </div>
{% endblock div %}