{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    Index
{% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-end">
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
      </ul>
  </div>
</nav>

<div class="containter colors p-5">
    <div class="row py-3">
        <div class="col-md-7 m-auto">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'home/img/default.jpg' %}" class="d-block w-100" height="400px" width="300px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'home/img/default.jpg' %}" class="d-block w-100" height="400px" width="300px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="containter colors p-3">
    <div class="row">
        <div class="col-md-4 offset-8">
            <h1>Save ideas you like</h1>
            <h2>Collect your favourites so you can get back to them later.</h2>
        </div>
    </div>
</div>

<div class="containter colors p-3">
    <div class="row">
        <div class="col-md-4 ml-auto">
            <h1>Search for an idea</h1>
             <h2>What do you want to try next? Think of something you’re into such as 'easy chicken dinner' and see what you find.</h2>
        </div>
    </div>
</div>
{% endblock body %}