{% extends 'user/sidebar.html' %}
{% load static %}
{% block title %}
    change password
{% endblock title %}
{% block div %}
    <h2 class="text-center">Change Password</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="form-group">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{forms.non_field_errors}}
                        {% for form in forms %}
                            <p>{{form.label_tag}} {{form}} <span class="errorlist">{{form.errors|striptags}}</span></p>
                        {% endfor %}
                        <input type="submit" value="update" class="btn btn-primary">
                        <a class="btn btn-primary" href="{% url 'home' %}">Back</a>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="alert alert-success text-center text-bg-success" role="alert">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock div %}