{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    reset password
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <div class="content-section">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="text-center">Reset Password</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info mt-3" type="submit">Request reset password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}