{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block body %}
<h1 class="text-center">Login</h1>
<div class="container">
    <div class="row"></div>
        <div class="form-group">
             <form method="POST" novalidate>
                {% csrf_token %}
                {{forms.non_field_errors}}
                {% for form in forms %}
                     <p>{{form.label_tag}}
                        {{form}} <span>{{form.errors|striptags}}</span></p>
                {% endfor %}
                <input type="submit" value="submit" class="btn btn-primary">
                 <a class="btn-primary" href="">Back</a>
                 <button type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}